@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

/*
 * CSS Reset
 */

/* Box sizing rules */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
	margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
	list-style: none;
}

/* Set core root defaults */
html:focus-within {
	scroll-behavior: smooth;
}

/* Set core body defaults */
body {
	min-height: 100vh;
	text-rendering: optimizeSpeed;
	line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
	text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
	max-width: 100%;
	display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
	font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
	html:focus-within {
	scroll-behavior: auto;
	}

	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}

:root {
	/*
	 * Main stuff
	 */

	/* General colors */
	--clr-bg1: #242120;
	--clr-bg1-25: #292827;
	--clr-bg1-50: #2e2c2a;
	--clr-bg1-75: #36322d;
	--clr-bg2: #393732;

	--clr-content-bg: #fff2;
	--border-content: 1px solid #3e3e3e;
	--clr-shadow-content: #0006;

	/* Layout & spacing */
	--content-width:  1250px;

	/* Text stuff */
	--clr-text: #eee;
	--size-text: 1.25rem;
}

/*
 * Global styles
 */

* {
	margin: 0;
	padding: 0;
}

html, body {
	min-height: 100vh;
}

body {
	background: linear-gradient(45deg, var(--clr-bg1) 10%, var(--clr-bg1-25) 31.25%, var(--clr-bg1-50) 52.5%, var(--clr-bg1-75) 73.75%, var(--clr-bg2) 95%) fixed;
	background-size: 250%;
	animation: bg-animation 20s infinite alternate;
	height: 100%;
	overflow-x: hidden;
	font-family: "Roboto", sans-serif;
	font-size: var(--size-text);
}

@keyframes bg-animation {
	0% {
		background-position: bottom left;
	}
	100% {
		background-position: top right;
	}
}

.noise, .noise::after {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	z-index: -5;
	background: url(../img/noise.svg) repeat;
	mix-blend-mode: multiply;
}
.noise {
	background-position: top left;
	animation: noise-animation 19s infinite alternate;
}
.noise::after {
	content: '';
	background-position: bottom right;
	animation: noise-animation 21s infinite alternate-reverse;
}

#particles-js {
	position: fixed;
	inset: 0;
	z-index: -4;
}

@keyframes noise-animation {
	0% {
		background-position: top left;
	}
	100% {
		background-position: bottom right;
	}
}

/*
 * Core layout
 */

#wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 2rem;
	min-height: 100vh;
}
#content {
	max-width: var(--content-width);
	padding: 2rem 2.5rem;
	background: var(--clr-content-bg);
	backdrop-filter: blur(0.25rem);
	color: var(--clr-text);
	font-weight: 400;
	border: var(--border-content);
	border-radius: 0.5rem;
	box-shadow: 0 0 1.5rem 0.5rem var(--clr-shadow-content);
}

/*
 * Layout & general styling
 */

p + p,
p + section,
section + section,
section + p {
	margin-top: 1em;
}
