@import url('https://fonts.googleapis.com/css?family=Oswald: 400,500,700');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

:root {
	/*
	 * Main stuff
	 */

	/* Branding colors */
	--clr-brand-gray: #323230;
	--clr-brand-white: #eee;
	--clr-brand-red: #dd3700;

	/* General colors */
	--clr-bg1: #161613;
	--clr-bg1-25: #1a1a18;
	--clr-bg1-50: #1f1e1a;
	--clr-bg1-75: #252421;
	--clr-bg2: #282824;
	--clr-accent: var(--clr-brand-red);
	--clr-shade: #0006;

	--clr-content-bg: #a3a3a330;
	--border-content: 1px solid #222;
	--clr-shadow-content: #0006;

	/* Layout & spacing */
	--width-content:  1250px;
	--width-menu: 20rem;
	--spacing-content-vertical: 2rem;

	/* Menu stuff */
	--size-menu-btn: 50px;
	--size-menu-hamburger-spacing: 5px;
	--size-menu-hamburger-width: 18px;
	--size-menu-hamburger-height: 2px;

	/* Text stuff */
	--clr-text: #eee;
	--size-text: 1.25rem;
	--clr-link: var(--clr-accent);
	--clr-link-active: var(--clr-accent);

	/*
	 * Effects & features
	 */

	/* Animations */
	--transition-duration: 300ms;
	--transition-curve-default: ease-in-out;
	/* Bezier curve to give subtle realistic bounce effect */
	--transition-curve: cubic-bezier(.18, .89, .32, 1.18);
}

/*
 * Global styles
 */

* {
	margin: 0;
	padding: 0;
}

html, body {
	min-height: 100vh;
}

body {
	background: linear-gradient(45deg, var(--clr-bg1) 10%, var(--clr-bg1-25) 31.25%, var(--clr-bg1-50) 52.5%, var(--clr-bg1-75) 73.75%, var(--clr-bg2) 95%) fixed;
	background-size: 250%;
	animation: bg-animation 20s infinite alternate;
	height: 100%;
	overflow-x: hidden;
	font-family: "Roboto", sans-serif;
	font-size: var(--size-text);
}

@keyframes bg-animation {
	0% {
		background-position: bottom left;
	}
	100% {
		background-position: top right;
	}
}

.noise, .noise::after {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	z-index: -5;
	background: url(../img/noise.svg) repeat;
	mix-blend-mode: multiply;
}
.noise {
	background-position: top left;
	animation: noise-animation 19s infinite alternate;
}
.noise::after {
	content: '';
	background-position: bottom right;
	animation: noise-animation 21s infinite alternate-reverse;
}

#particles-js {
	position: fixed;
	inset: 0;
	z-index: -4;
}

@keyframes noise-animation {
	0% {
		background-position: top left;
	}
	100% {
		background-position: bottom right;
	}
}

/*
 * Core layout
 */

#wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: var(--spacing-content-vertical);
	padding: var(--spacing-content-vertical);
	min-height: 100vh;
	color: var(--clr-text);
}
header {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	column-gap: 2rem;
	font-family: "Roboto", sans-serif;
	font-size: 4.5em;
}
header img.icon {
	width: 10rem;
}

#content {
	max-width: var(--width-content);
	padding: 2rem 2.5rem;
	background: var(--clr-content-bg);
	backdrop-filter: blur(0.25rem);
	font-weight: 400;
	border: var(--border-content);
	border-radius: 0.5rem;
	box-shadow: 0 0 1.5rem 0.5rem var(--clr-shadow-content);
}

/*
 * Navigation
 */

menu .toggle {
	display: none;
}
menu input[type=checkbox] {
	display: none;
}

menu {
	display: flex;
}

nav {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "Oswald", sans-serif;
	font-variant: small-caps;
	gap: var(--spacing-content-vertical);
	font-size: 1.5rem;
	margin-block: calc(-1 * var(--spacing-content-vertical) / 2);
	box-sizing: content-box;
}
a {
	display: inline-block;
	position: relative;
	padding-bottom: 0.3em;
	text-decoration: none;
	color: var(--clr-text);
	transition: color var(--transition-duration) var(--transition-curve-default);
}
a:focus,
a:hover {
	color: var(--clr-link-active);
}
a:focus {
	outline: none;
}
a::after {
	content: '';
	position: absolute;
	bottom: 0.15em;
	left: 0;
	width: 100%;
	height: 0.1em;
	background: var(--clr-link-active);
	transform: scaleX(0);
	transform-origin: right;
	transition: transform var(--transition-duration) ease-in;
}
a:hover::after,
a:focus::after {
	transform: scaleX(1);
	transform-origin: left;
}

/* Mobile navigation */
@media screen and (max-width: 6500px) {
	/* Prevent scrolling when menu open */
	body:has(.menu-btn:checked) {
		overflow: hidden;
	}

	menu {
		height: 100vh;
		position: fixed;
		z-index: 10;
		top: 0;
		left: 0;
	}
	menu:has(.menu-btn:checked) {
		width: 100vw;
		left: 0;
	}

	menu .toggle {
		position: absolute;
		display: inherit;
		top: 0;
		left: 0;
		z-index: 15;
	}

	/* Menu icon stuff */
	.menu-icon {
		cursor: pointer;
		display: flex;
		justify-content: flex-end;
		align-items: baseline;
		padding-block: calc((var(--size-menu-btn) - var(--size-menu-hamburger-height)) / 2);
		padding-right: calc((var(--size-menu-btn) - var(--size-menu-hamburger-width)) / 2);
		position: absolute;
		height: var(--size-menu-btn);
		width: var(--size-menu-btn);
		user-select: none;
		visibility: visible;
		background: var(--clr-brand-gray);
		border-right: var(--border-content);
		border-bottom: var(--border-content);
		border-bottom-right-radius: 0.5em;
	}
	menu .toggle:has(.menu-btn:checked) .menu-icon {
		background: inherit;
		border-radius: inherit;
		border: inherit;
	}

	/* Navicon styling */
	.navicon {
		background: var(--clr-text);
		display: block;
		height: var(--size-menu-hamburger-height);
		width: var(--size-menu-hamburger-width);
		position: relative;
	}
	.navicon:before {
		top: var(--size-menu-hamburger-spacing);
	}
	.navicon:after {
		top: calc(-1 * var(--size-menu-hamburger-spacing));
	}
	.navicon:before,
	.navicon:after {
		background: var(--clr-text);
		display: block;
		width: 100%;
		height: 100%;
		content: "";
		position: absolute;
		transition: all 0.2s ease-out;
	}

	.menu-btn:checked ~ .menu-icon .navicon {
		background: transparent;
	}
	.menu-btn:checked ~ .menu-icon .navicon:before {
		transform: rotate(-45deg);
	}
	.menu-btn:checked ~ .menu-icon .navicon:after {
		transform: rotate(45deg);
	}
	.menu-btn:checked ~ .menu-icon .navicon:before,
	.menu-btn:checked ~ .menu-icon .navicon:after {
		top: 0;
	}

	/* Navigation menu */
	menu nav {
		width: var(--width-menu);
		height: 100vh;
		background: var(--clr-brand-gray);
		color: var(--clr-text);
		margin: inherit;
		position: fixed;
		flex-direction: column;
		justify-content: start;
		align-items: start;
		gap: 0.5rem;
		top: 0;
		z-index: 10;
		left: calc(-1 * var(--width-menu));
		transition-property: left;
		transition-duration: var(--transition-duration);
		transition-timing-function: var(--transition-curve-default);
		padding-top: var(--size-menu-btn);
	}
	menu .toggle:has(.menu-btn:checked) + nav {
		left: 0;
		box-shadow: 0 0 3rem var(--clr-shadow-content);
	}
	menu:has(.menu-btn:checked) nav {
		padding-inline: 1rem;
	}

	/* Content shade */
	menu .shade {
		display: block;
		flex-grow: 1;
		transition-property: background, backdrop-filter;
		transition-duration: var(--transition-duration);
		transition-timing-function: var(--transition-curve-default);
	}
	menu .toggle:has(.menu-btn:checked) + nav + .shade {
		background: var(--clr-shade);
		backdrop-filter: blur(0.2rem);
	}
}

/*
 * Layout & general styling
 */

p + p,
p + section,
section + section,
section + p {
	margin-top: 1em;
}

/*
 * Responsive design stuff
 */

@media screen and (max-width: 900px) {
	header {
		flex-direction: column;
		font-size: clamp(2em, 11vw, 4.5em);
	}
	header img.icon {
		width: clamp(12rem, 25vw, 14rem);
	}
}

@media screen and (max-width: 450px) {
	#wrapper {
		padding-inline: 0;
		padding-bottom: 0;
	}
	#content {
		border-radius: 0;
		border-left: none;
		border-right: none;
		border-bottom: none;
	}
}
